/* variables */

/* variables for typography */
$sectionHeaderFont: 'Edmondsans-Bold';
$bodyFont: 'ChaparralPro-Regular';
$bodyFontItalic: 'ChaparralPro-Italic';
$footerHeaderFont: 'Didot';
/*$footerBodyFont:*/
/*$footerBodyFontItalic:*/


/* variables for color */
$backgroundColorPrimary: #616767;
$backgroundColorSecondary: #933932;
$backgroundColorFooter: #333333;
$backgroundColorCredits: #d8d8d8;

$aboutHeaderColor: #ffffff;
$listHeaderColor: #d5d5d5;
$bodyFontColor: #d8d8d8;


/* typography */

@font-face {
	font-family: $sectionHeaderFont;
	src: url('fonts/Edmondsans-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $bodyFont;
	src: url('fonts/ChaparralPro-Regular.otf') format('opentype');
}

@font-face {
	font-family: $bodyFontItalic;
	src: url('fonts/ChaparralPro-Italic.otf') format('opentype');
}

@font-face {
	font-family: $footerHeaderFont;
	src: url('fonts/Didot.ttc') format('truetype');
}


/* layout */

html {
	font-size: 16px;

}

body {
	width: 100%;
	margin: 0;

}

.container {
	max-width: 45rem;
	margin: 0 auto;
	padding: 1.5rem;


}

.sectionheading {
	letter-spacing: 0.25rem;
}

header {
	background: $backgroundColorPrimary;
	padding-top: 4rem;
/*	padding-bottom: 4rem;*/

	text-align: center;

	img {
		display: inline-block;
		max-width: 100%;
		height: auto;

	}
}

.about {
	background: $backgroundColorPrimary;
	padding-top: 4rem;
	padding-bottom: 4rem;

	h1 {
		font-family: $sectionHeaderFont;
		font-size: 2rem;
		color: $aboutHeaderColor;
	}

	p {
		font-family: $bodyFont;
		font-size: 2rem;
		color: $bodyFontColor;
	}

	.italics {
		font-family: $bodyFontItalic;
	}
}

.headerhabits {
	background: $backgroundColorSecondary;
	padding-top: 4rem;
/*	padding-bottom: 4rem;*/

	img {
		display: block;
		margin: 0 auto;
	}
}

.list {
	background: $backgroundColorSecondary;
	padding-top: 4rem;
	padding-bottom: 4rem;

	h2 {
		font-family: $sectionHeaderFont;
		font-size: 2rem;
		color: $listHeaderColor;
		word-wrap: break-word;
	}

	ol {
		font-family: $bodyFontItalic;
		font-size: 2.5rem;
		color: $bodyFontColor;

		padding-left: 6rem;
	}

	p {
		font-family: $bodyFont;
		font-size: 2rem;
		color: $bodyFontColor;

		margin-left: 6rem;
		border-left: 1px solid $aboutHeaderColor;
		padding-left: 2rem;

		word-wrap: break-word;
	}

}

.notes {
	background: $backgroundColorFooter;
	padding-top: 4rem;
	padding-bottom: 4rem;

	h3 {
		font-family: $footerHeaderFont;
		font-style: italic;
		font-size: 1.75rem;
		color: $listHeaderColor;

		text-align: center;
	}

	ol {
		font-family: $footerHeaderFont;
		font-size: 1.25rem;
		color: $bodyFontColor;
	}

	li {
		padding-bottom: 1rem;
	}

}

footer {
	background: $backgroundColorCredits;

	padding-top: 1rem;
	padding-bottom: 1rem;
	
	h5 {
		font-family: $sectionHeaderFont;
		font-size: 1rem;
		margin: 0;
	}
}

/* media queries */

/*@media (max-width: 700px) {
	header {
		text-align: center;

	}
	 img {
		display: inline-block;
		max-width: 100%;
		height: auto;
	}
}*/


